:host {
  display: block;
  background: #fff;
  position: absolute;
  top: 18px;
  right: 20px;
  padding: 8px;
  width: 100px;
  box-sizing: border-box;
  box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  .count {
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
  .txt {
    display: block;
    color: #888;
    font-size: 14px;
    font-weight: bold;
  }
}
