:host {
  display: block;
  position: relative;
  margin: 40px auto;
  width: 1400px;
  .narr {
    position: absolute;
    top: 50px;
  }
  .create {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    #make {
      margin-left: 20px;
      margin-top: -5px;
      padding-left: 5px;
      width: 300px;
      height: 30px;
      line-height: 30px;
      font-size: inherit;
      font-weight: inherit;
    }
  }
  .total {
    position: absolute;
    right: 0;
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    narr-total-count-box {
      right: 0;
      top: 22px;
    }
  }
  .columns {
    margin-top: 100px;
  }
  narr-column:first-child {
    margin-left: 0;
  }
}
